* {
    margin: 0px;
    padding: 0px;
}

#Table {
    border: black 1px;
    background-color: aqua;
    padding: left 25px;
    

}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: none ;
    font-size: 30px;
    font-weight: 250;
}

.input {
    border: none;
    text-align: right;
    background-color: black;
    width: 250px;
    height: 50px;
    font-size: 50px;
    font-weight: 200;
    color: white;

}

.gris {
    background-color: #A6A6A6;
    color:black;
}

.naranja {
    background-color: #FF9501;
    color: white;
}

.dark {
    background-color: #333;
    color: white;

}
.ceroButton {
    width: 100%;
    text-align: left;
    padding-left: 25px;
    background-color: #333;
    color: white;
}

.acentButton {
    background-color: #FF9501;
    color: white;
}

.tr {
    border: black 1px;
}

::-webkit-input-placeholder {
    color: white;
}
